.body {
    font-size: 20px arial, sans-serif;
    color: #fff
}


.navbar {
    background-color: #81f7d8;
}

.quem-somos {
    background-color: #acaceb;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #58faf4;
}

.servicos {
    background-color: #b4cace;
}


.bg-footer {
    background-color: black;
    color: blanchedalmond;

}